.samples {
  background-color: $colorBackgroundSamples;
  padding: 0 50px 60px 150px;
  @include flex($direction: row, $align: $start, $justify: $between);
  flex-wrap: wrap;
  @include desktopStyles {
    padding: 60px 34px 34px 34px;
    margin: 0 50px;
  }
  @include mobileStyles {
    padding: 10px;
    margin: 0 20px;
  }

  &__content {
    margin-top: 115px;
    color: $colortext;
    @include flex($direction: column, $align: $start, $justify: center);
    align-self: center;
  }
  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 0.3px;
    @include mobileStyles {
      padding-left: 10px;
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__paragraph {
    margin: 48px 0 100px;
    width: 457px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.3px;
    @include mobileStyles {
      font-size: 14px;
      line-height: 19px;
      max-width: 240px;
      margin: 20px 0 50px;
    }
  }
  &__container {
    margin-top: 60px;
    max-width: 633px;
    background: $colorSamplesForm;
    padding: 24px 30px 30px;

    @include desktopStyles {
      width: 70.3vw;
      max-width: 540px;
    }
    @include mobileStyles {
      padding: 20px;
      width: 68.75vw;
      max-width: 540px;
    }
  }
  &__title-form {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
    @include mobileStyles {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__input-container {
    margin: 50px 0 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__input-block {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    margin-top: 0;
    &:last-of-type {
      margin-top: 11px;
    }
    @include desktopStyles {
      margin: 0;
    }

    &:last-of-type {
      margin-left: 0;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }

  &__label {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.3px;
    @include mobileStyles {
      font-size: 14px;
      line-height: 31px;
    }
  }
  &__item {
    cursor: pointer;
    width: 310px;
    padding: 13px 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $white;

    @include desktopStyles {
      width: 70.3vw;
      max-width: 540px;
    }
    @include mobileStyles {
      width: 68.75vw;
      max-width: 540px;
    }

    &:focus {
      color: #212529;
      background-color: transparent;
      border: none;
      outline: 0;
      border-bottom: 2px solid $white;
    }
    &_width {
      width: 633px;
      @include desktopStyles {
        width: 70.3vw;
        max-width: 540px;
      }
      @include mobileStyles {
        width: 68.75vw;
        max-width: 540px;
      }
    }
  }

  &__button {
    border: none;
    padding: 10px 30px;
    background: #a27bff;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: $white;
    border: 2px solid transparent;
    box-sizing: content-box;
    cursor: pointer;
    transition: 0.5s;
    @include mobileStyles {
      width: 220px;
      box-sizing: border-box;
    }
    &:hover {
      border: 2px solid #e1fd2c;
      box-sizing: border-box;
      border-radius: 10px;
    }
  }

  &__handlers {
    margin: 179px 0 0;
    padding: 0;
    border: none;
    @include desktopStyles {
      margin-top: 90px;
    }
    @include mobileStyles {
      @include flex($direction: row, $align: center, $justify: center);
      margin-top: 60px;
    }
  }
}
