.header {
  position: relative;
  overflow: hidden;
  padding: 40px 50px 126px;
  background-color: $purple;

  display: grid;
  grid-template-areas:
    'A C'
    'B C'
    'B D';
  justify-content: space-between;

  &__soda {
    width: 100px;
    grid-area: A;
    margin: 0 0 40px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: $yellow;
  }

  &__title {
    margin: 0;
    max-width: 457px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
  }

  &__wrapper {
    grid-area: B;
    max-width: 783px;
    position: relative;
  }
  &__img {
    display: block;
  }

  &__cricle {
    grid-area: C;
    justify-self: flex-end;
  }
  &::before {
    content: ' ';
    position: absolute;
    left: calc(100% - 405px);
    top: -160px;
    background-color: #3530ff;
    opacity: 0.2;
    width: 565px;
    height: 565px;
    border-radius: 50%;

    @include desktopStyles {
      display: none;
    }
  }

  &__container {
    grid-area: D;
  }

  &__button {
    margin: 170px 0 0 0;
    background-color: $colorBackgroundButton;
    border: none;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    color: $colorTextButton;
    transition: 0.5s;
    border: 2px solid $colorBackgroundButton;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px; //31px figma
    letter-spacing: 0.3px;
    padding: 10px 28px; //12px 30px; figma

    &:hover {
      border: 2px solid #1e3264;
      box-sizing: border-box;
      border-radius: 10px;
    }
  }

  &__pineapple {
    position: absolute;
    top: 81.8%;
    left: 87.9%;
  }

  &__text {
    position: absolute;
    margin: 0;
    left: -93px;
    bottom: 0;
    width: 2117px;
    background: $colorBackgroundFresh;
    padding: 20px 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: $colorTextFresh;
    white-space: nowrap;
  }
}
