.header {
  max-width: 1440px;
  position: relative;
  overflow: hidden;
  padding-top: 110px;
  padding-bottom: 50px;
  padding-left: 50px;
  background-color: $purple;
  @include flex($direction: row, $align: flex-end, $justify: flex-start);

  &__soda {
    position: absolute;
    top: 40px;
    left: 50px;
    margin: 0;
    width: 87px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: $yellow;
  }

  &__title {
    margin: 0 0 0 100px;

    width: 457px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
  }

  &__img {
    width: 783px;
  }

  &__cricle {
    position: absolute;
    top: 50px;
    right: 50px;
  }

  &__b-cricle {
    position: absolute;
    top: -160px;
    right: -160px;
    background-color: #3530ff;
    opacity: 0.2;
    width: 565px;
    height: 565px;
    border-radius: 50%;
  }

  &__container {
    @include flex($direction: column, $align: flex-start, $justify: flex-end);
  }
  &__button {
    margin: 171px 0 0 100px;
    background-color: $colorBackgroundButton;
    border: none;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    color: $colorTextButton;
    transition: 0.5s;
    border: 2px solid $colorBackgroundButton;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.3px;
    padding: 12px 30px;
    &:hover {
      border: 2px solid #1e3264;
      box-sizing: border-box;
      border-radius: 10px;
    }
  }

  &__pineapple {
    position: absolute;
    top: 604px;
    left: 758px;
  }
}
