.taste {
  padding: 120px 50px 0;
  &__title {
    margin: 0 0 120px;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #1e3264;
  }
  &__tastes {
    position: relative;
    padding: 90px 100px;
    @include flex(
      $direction: row,
      $align: space-between,
      $justify: space-between
    );

    background: #9960f6;

    &_structure {
      background: #8556f8;
    }
  }
  &__left {
    color: $white;
    @include flex($direction: column, $align: flex-start, $justify: flex-start);
  }

  &__subtitle {
    margin: 0 0 30px;

    font-weight: 600;
    font-size: 52px;
    line-height: 48px;
  }
  &__paragraph {
    margin: 0;
    max-width: 386px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    /* or 172% */

    letter-spacing: 0.3px;
  }
  &__right {
  }
  &__img {
    width: 518px;
  }
  &__button {
    border: none;
    padding: 12px 21px;
    background: #ffdb00;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.3px;
    color: #1e3264;
    margin-top: auto;
  }

  &__Ellipse-921 {
    position: absolute;
    width: 185px;
    height: 185px;
    top: 123px;
    left: 622px;

    background: #e1fd2c;
    border: 3px solid #016450;
    box-sizing: border-box;
    border-radius: 50%;
  }

  &__Ellipse-920 {
    position: absolute;
    width: 138px;
    height: 138px;
    left: 721px;
    top: 321px;
    background: #ffdb00;
    border: 3px solid #1e3264;
    box-sizing: border-box;
    border-radius: 50%;
  }
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    width: 255px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 30px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__item-text {
    margin: 0 0 4px;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
  }
}
