.footer {
  position: relative;
  padding: 100px 50px 100px 150px;
  color: $white;
  background: #7a54f9;
  display: grid;
  grid-template-areas:
    'A B'
    'A B'
    'A C';
  justify-content: start;

  @include desktopStyles {
    padding: 120px 50px 150px 50px;
  }
  @include mobileStyles {
    @include flex($direction: column, $align: center, $justify: center);
    padding: 60px 20px 20px;
  }

  &__circle-text {
    grid-area: A;
    margin-right: 247px;
    position: relative;
    width: 300px;
    height: 300px;
    background: #9960f6;
    border-radius: 50%;
    @include flex($direction: column, $align: center, $justify: center);
    &::before {
      position: absolute;
      @include flex($direction: column, $align: center, $justify: center);
      content: ' ';
      width: 76.3%;
      height: 76.3%;
      background: #5551ff;
      border-radius: 50%;
    }
    &::after {
      position: absolute;
      @include flex($direction: column, $align: center, $justify: center);
      content: 'soda';
      width: 50.8%;
      height: 50.8%;
      background: #3530ff;
      border-radius: 50%;
      color: #ffa72b;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      text-transform: uppercase;
    }
  }

  &__wrapper {
    grid-area: B;

    @include flex($direction: row, $align: $start, $justify: $start);
    flex-wrap: wrap;
    @include mobileStyles {
      @include flex($direction: column, $align: center, $justify: $start);
    }
  }

  &__nav {
    @include desktopStyles {
      margin-left: 100px;
    }
    @include mobileStyles {
      margin: 0;
    }
  }

  &__title-nav {
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 23px;
    line-height: 33px;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @include mobileStyles {
      @include flex($direction: column, $align: center, $justify: $start);
    }
  }

  &__item {
    margin: 0;
    margin-bottom: 3px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__item-links {
    color: $white;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.3px;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }
  &__contacts {
    margin-left: 142px;
    @include flex($direction: column, $align: $start, $justify: $start);
    @include desktopStyles {
      margin-left: 96px;
      @include mobileStyles {
        margin: 50px 0 50px;
        align-items: center;
      }
    }
  }
  &__title-contacts {
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 23px;
    line-height: 33px;
  }

  &__links-contacts {
    color: $white;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.3px;
    text-decoration: none;
    margin-bottom: 3px;
    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover {
      opacity: 0.7;
    }
  }
  &__copy {
    grid-area: C;
    align-self: end;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.3px;
    @include desktopStyles {
      bottom: 50px;
    }
    @include mobileStyles {
      position: static;
    }
  }
}
