$fontFamily: 'Inter', Tahoma, Geneva, Verdana, sans-serif;


$black: #000;
$white: #fff;
$yellow: #FFDB00;
$purple: #9960F6; 
$purple2: #8556F8;
$colortext: #1E3264;

$primaryColor: $white;
$secondaryColor: $white;