@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
/* 
@include desktopStyles {    
  }
*/
/* 
@include tabletStyles {    
  }
*/
/* 
@include mobileStyles {    
  }
*/
.page {
  background-color: #fff;
  color: #fff;
  font-family: "Inter", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
}

.header {
  position: relative;
  overflow: hidden;
  padding-top: 110px;
  padding-left: 50px;
  background-color: #9960f6;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

@media (max-width: 1435px) {
  .header {
    padding-top: 196px;
    flex-wrap: wrap;
  }
}

@media (max-width: 760px) {
  .header {
    padding: 100px 20px 0;
  }
}

.header__soda {
  position: absolute;
  top: 40px;
  left: 50px;
  margin: 0;
  width: 87px;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffdb00;
}

@media (max-width: 760px) {
  .header__soda {
    font-size: 20px;
  }
}

.header__title {
  margin: 0 0 0 100px;
  max-width: 457px;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

@media (max-width: 1435px) {
  .header__title {
    margin: 0;
    font-size: 30px;
    line-height: 38px;
  }
}

@media (max-width: 760px) {
  .header__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    min-width: 280px;
  }
}

.header__wrapper {
  position: relative;
}

.header__img {
  margin-bottom: 50px;
  max-width: 783px;
}

@media (max-width: 1435px) {
  .header__img {
    width: calc(100vw - 100px);
  }
}

@media (max-width: 760px) {
  .header__img {
    width: calc(100vw - 40px);
  }
}

.header__cricle {
  position: absolute;
  top: 50px;
  right: 50px;
}

@media (max-width: 1435px) {
  .header__cricle {
    width: 128px;
  }
}

@media (max-width: 760px) {
  .header__cricle {
    width: 94px;
    top: 20px;
    right: 20px;
  }
}

.header__b-cricle {
  position: absolute;
  top: -160px;
  right: -160px;
  background-color: #3530ff;
  opacity: 0.2;
  width: 565px;
  height: 565px;
  border-radius: 50%;
}

@media (max-width: 1435px) {
  .header__b-cricle {
    display: none;
  }
}

.header__container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

@media (max-width: 1435px) {
  .header__container {
    width: calc(100vw - 100px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

@media (max-width: 760px) {
  .header__container {
    width: calc(100vw - 40px);
    flex-wrap: wrap;
  }
}

.header__button {
  margin: 171px 0 0 100px;
  background-color: #ffdb00;
  border: none;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  color: #1e3264;
  transition: 0.5s;
  border: 2px solid #ffdb00;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
  padding: 12px 30px;
}

.header__button:hover {
  border: 2px solid #1e3264;
  box-sizing: border-box;
  border-radius: 10px;
}

@media (max-width: 1435px) {
  .header__button {
    margin: 0 0 0 0;
  }
}

@media (max-width: 760px) {
  .header__button {
    padding: 10px 30px;
  }
}

.header__pineapple {
  position: absolute;
  top: 75%;
  left: 87%;
}

@media (max-width: 1435px) {
  .header__pineapple {
    top: 60%;
    left: 75%;
  }
}

@media (max-width: 760px) {
  .header__pineapple {
    top: 63%;
    left: 80%;
    width: 55px;
    height: 80px;
  }
}

.streak {
  position: relative;
  overflow: hidden;
  background: #cef564;
}

.streak__text {
  width: 2117px;
  margin: 0 0 0 -100px;
  padding: 20px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #016450;
}

@media (max-width: 760px) {
  .streak__text {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 0 -374px;
  }
}

.taste {
  padding: 120px 50px 50px;
}

@media (max-width: 760px) {
  .taste {
    padding: 50px 20px 20px;
  }
}

.taste__title {
  margin: 0 0 120px;
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #1e3264;
}

@media (max-width: 760px) {
  .taste__title {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 24px;
  }
}

.taste__tastes {
  position: relative;
  padding: 90px 100px;
  display: grid;
  grid-template-areas: 'A B' 'A B';
  justify-content: space-between;
  background: #9960f6;
}

@media (max-width: 1435px) {
  .taste__tastes {
    padding: 60px;
    grid-template-areas: 'A' 'A' 'B';
  }
}

@media (max-width: 760px) {
  .taste__tastes {
    padding: 20px;
  }
}

.taste__tastes_structure {
  grid-template-areas: 'A B' 'A B' 'C B';
  justify-content: space-between;
  background: #8556f8;
}

@media (max-width: 1435px) {
  .taste__tastes_structure {
    grid-template-areas: 'A A' 'B B' 'C .';
  }
}

.taste__left {
  grid-area: A;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (max-width: 760px) {
  .taste__left {
    margin-bottom: 0;
  }
}

.taste__subtitle {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 52px;
  line-height: 48px;
}

@media (max-width: 760px) {
  .taste__subtitle {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 14px;
  }
}

.taste__paragraph {
  margin: 0;
  padding-bottom: 100px;
  max-width: 386px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
}

@media (max-width: 760px) {
  .taste__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 60px;
  }
}

.taste__right {
  grid-area: B;
}

.taste__img {
  width: 518px;
}

@media (max-width: 760px) {
  .taste__img {
    width: 100%;
  }
}

.taste__button {
  grid-area: C;
  max-width: 163px;
  border: none;
  padding: 12px 21px;
  background: #ffdb00;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
  color: #1e3264;
  margin-top: auto;
  transition: 0.5s;
  border: 2px solid #ffdb00;
  cursor: pointer;
}

.taste__button:hover {
  background: #ffdb00;
  border: 2px solid #1e3264;
  box-sizing: border-box;
  border-radius: 10px;
}

@media (max-width: 1435px) {
  .taste__button {
    margin-top: 100px;
  }
}

@media (max-width: 760px) {
  .taste__button {
    margin-top: 60px;
  }
}

.taste__Ellipse-921 {
  position: absolute;
  top: 33px;
  left: 45vw;
  width: 185px;
  height: 185px;
  background: #e1fd2c;
  border: 3px solid #016450;
  box-sizing: border-box;
  border-radius: 50%;
}

@media (max-width: 1435px) {
  .taste__Ellipse-921 {
    top: 240px;
  }
}

@media (max-width: 760px) {
  .taste__Ellipse-921 {
    display: none;
  }
}

.taste__Ellipse-920 {
  position: absolute;
  top: 231px;
  left: 50vw;
  width: 138px;
  height: 138px;
  background: #ffdb00;
  border: 3px solid #1e3264;
  box-sizing: border-box;
  border-radius: 50%;
}

@media (max-width: 1435px) {
  .taste__Ellipse-920 {
    top: 445px;
  }
}

@media (max-width: 760px) {
  .taste__Ellipse-920 {
    display: none;
  }
}

.taste__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.taste__item {
  max-width: 255px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 30px;
}

.taste__item:first-of-type {
  margin-top: 0;
}

.taste__item-text {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
}

@media (max-width: 760px) {
  .taste__item-text {
    font-size: 22px;
    line-height: 22px;
  }
}

.slogan {
  max-height: 580px;
  margin-bottom: 0px;
  position: relative;
  padding: 0 180px 0 150px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  /* position: absolute;
    top: 130px;
    left: -110px;
    width: 172px;
    height: 172px;
    @include mobileStyles {
      width: 98px;
      height: 98px;
      top: 62%;
      left: 2%;*/
}

@media (max-width: 1435px) {
  .slogan {
    max-height: 910px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 760px) {
  .slogan {
    padding: 0 20px 0 20px;
    max-height: 143vw;
  }
}

.slogan__title {
  margin: 0;
  align-self: center;
  max-width: 460px;
  font-weight: 500;
  font-size: 60px;
  line-height: 67px;
  letter-spacing: 0.3px;
  color: #1e3264;
}

@media (max-width: 1435px) {
  .slogan__title {
    margin-top: 70px;
  }
}

@media (max-width: 760px) {
  .slogan__title {
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

.slogan__wrapper {
  position: relative;
}

.slogan__img {
  position: relative;
  margin-top: 70px;
  z-index: -1;
}

@media (max-width: 1435px) {
  .slogan__img {
    margin-top: 120px;
  }
}

@media (max-width: 760px) {
  .slogan__img {
    margin-top: 50px;
    width: 100%;
  }
}

.slogan__nonagon-block {
  position: absolute;
  top: 190px;
  left: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1435px) {
  .slogan__nonagon-block {
    top: 225px;
    left: -50px;
  }
}

@media (max-width: 760px) {
  .slogan__nonagon-block {
    top: 245px;
    left: 50px;
  }
}

.slogan__nonagon {
  transform: rotate(161.01deg);
  position: absolute;
  width: 172px;
  height: 99.3px;
  background-color: #cef564;
  margin: 49.65px 0;
  border-left: solid 3px #016450;
  border-right: solid 3px #016450;
}

.slogan__nonagon:before, .slogan__nonagon:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 121.62px;
  height: 121.62px;
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 22.1888px;
}

.slogan__nonagon:before {
  top: -60.8112px;
  border-top: solid 4.2426px #016450;
  border-right: solid 4.2426px #016450;
}

.slogan__nonagon:after {
  bottom: -60.8112px;
  border-bottom: solid 4.2426px #016450;
  border-left: solid 4.2426px #016450;
}

@media (max-width: 760px) {
  .slogan__nonagon {
    position: absolute;
    width: 98px;
    height: 56.58px;
    background-color: #cef564;
    margin: 28.29px 0;
    border-left: solid 3px #016450;
    border-right: solid 3px #016450;
  }
  .slogan__nonagon:before, .slogan__nonagon:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 69.3px;
    height: 69.3px;
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 11.3518px;
  }
  .slogan__nonagon:before {
    top: -34.6482px;
    border-top: solid 4.2426px #016450;
    border-right: solid 4.2426px #016450;
  }
  .slogan__nonagon:after {
    bottom: -34.6482px;
    border-bottom: solid 4.2426px #016450;
    border-left: solid 4.2426px #016450;
  }
}

.slogan__nonagon-text {
  margin: 0;
  z-index: 1;
  transform: rotate(-18.99deg);
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #016450;
}

@media (max-width: 760px) {
  .slogan__nonagon-text {
    font-size: 8px;
    line-height: 9px;
  }
}

.samples {
  background-color: #cef564;
  padding: 60px 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1435px) {
  .samples {
    padding: 60px 34px 34px 34px;
    margin: 0 50px;
  }
}

@media (max-width: 760px) {
  .samples {
    padding: 10px;
    margin: 0 20px;
  }
}

.samples__content {
  color: #1e3264;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: center;
}

.samples__title {
  margin: 0;
  font-weight: 500;
  font-size: 60px;
  line-height: 65px;
  letter-spacing: 0.3px;
}

@media (max-width: 760px) {
  .samples__title {
    padding-left: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

.samples__paragraph {
  margin: 48px 0 100px;
  width: 457px;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.3px;
}

@media (max-width: 760px) {
  .samples__paragraph {
    font-size: 14px;
    line-height: 19px;
    max-width: 240px;
    margin: 20px 0 50px;
  }
}

.samples__container {
  max-width: 633px;
  background: #016450;
  padding: 24px 30px 30px;
}

@media (max-width: 1435px) {
  .samples__container {
    width: 70.3vw;
    max-width: 540px;
  }
}

@media (max-width: 760px) {
  .samples__container {
    padding: 20px;
    width: 68.75vw;
    max-width: 540px;
  }
}

.samples__title-form {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
}

@media (max-width: 760px) {
  .samples__title-form {
    font-size: 20px;
    line-height: 24px;
  }
}

.samples__input-container {
  margin: 50px 0 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.samples__input-block {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

@media (max-width: 1435px) {
  .samples__input-block {
    margin: 0;
  }
}

.samples__input-block:last-of-type {
  margin-left: 0;
}

.samples__input-block:first-of-type {
  margin-left: 0;
}

.samples__label {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
}

@media (max-width: 760px) {
  .samples__label {
    font-size: 14px;
    line-height: 31px;
  }
}

.samples__item {
  cursor: pointer;
  width: 310px;
  padding: 13px 0;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
}

@media (max-width: 1435px) {
  .samples__item {
    width: 70.3vw;
    max-width: 540px;
  }
}

@media (max-width: 760px) {
  .samples__item {
    width: 68.75vw;
    max-width: 540px;
  }
}

.samples__item:focus {
  color: #212529;
  background-color: transparent;
  border: none;
  outline: 0;
  border-bottom: 2px solid #fff;
}

.samples__item_width {
  width: 633px;
}

@media (max-width: 1435px) {
  .samples__item_width {
    width: 70.3vw;
    max-width: 540px;
  }
}

@media (max-width: 760px) {
  .samples__item_width {
    width: 68.75vw;
    max-width: 540px;
  }
}

.samples__button {
  border: none;
  padding: 12px 30px;
  background: #a27bff;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  color: #fff;
  border: 2px solid transparent;
  box-sizing: content-box;
  cursor: pointer;
  transition: 0.5s;
}

@media (max-width: 760px) {
  .samples__button {
    width: 220px;
    box-sizing: border-box;
  }
}

.samples__button:hover {
  border: 2px solid #e1fd2c;
  box-sizing: border-box;
  border-radius: 10px;
}

.samples__handlers {
  margin: 179px 0 0;
  padding: 0;
  border: none;
}

@media (max-width: 1435px) {
  .samples__handlers {
    margin-top: 90px;
  }
}

@media (max-width: 760px) {
  .samples__handlers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
}

.footer {
  position: relative;
  padding: 100px 50px 100px 150px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff;
  background: #7a54f9;
}

@media (max-width: 1435px) {
  .footer {
    padding: 120px 50px 150px 50px;
  }
}

@media (max-width: 760px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px 20px;
  }
}

@media (max-width: 760px) {
  .footer__circles {
    margin: 50px;
  }
}

.footer__b-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background: #9960f6;
  border-radius: 50%;
}

@media (max-width: 780px) {
  .footer__b-circle {
    width: 200px;
    height: 200px;
  }
}

.footer__s-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  background: #5551ff;
  border-radius: 50%;
}

@media (max-width: 780px) {
  .footer__s-circle {
    width: 153px;
    height: 153px;
  }
}

.footer__m-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 152px;
  background: #3530ff;
  border-radius: 50%;
}

@media (max-width: 780px) {
  .footer__m-circle {
    width: 101px;
    height: 101px;
  }
}

.footer__m-circle-text {
  margin: 0;
  color: #ffa72b;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

@media (max-width: 780px) {
  .footer__m-circle-text {
    font-size: 20px;
    line-height: 20px;
  }
}

.footer__wrapper {
  width: 753px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (max-width: 760px) {
  .footer__wrapper {
    max-width: 753px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 1435px) {
  .footer__nav {
    margin-left: 100px;
  }
}

@media (max-width: 760px) {
  .footer__nav {
    margin: 0;
  }
}

.footer__title-nav {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 23px;
  line-height: 33px;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 760px) {
  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.footer__item {
  margin: 0;
}

.footer__item-links {
  color: #fff;
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.footer__item-links:hover {
  opacity: 0.7;
}

.footer__contacts {
  margin-left: 145px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (max-width: 1435px) {
  .footer__contacts {
    margin-left: 96px;
  }
}

@media (max-width: 1435px) and (max-width: 760px) {
  .footer__contacts {
    margin: 50px 0 50px;
    align-items: center;
  }
}

.footer__title-contacts {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 23px;
  line-height: 33px;
}

.footer__links-contacts {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.footer__links-contacts:hover {
  opacity: 0.7;
}

.footer__copy {
  position: absolute;
  bottom: 100px;
  left: 45vw;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.3px;
}

@media (max-width: 1435px) {
  .footer__copy {
    bottom: 50px;
  }
}

@media (max-width: 760px) {
  .footer__copy {
    position: static;
  }
}
