@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
.page {
  background-color: #fff;
  color: #fff;
  font-family: "Inter", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1440px;
  margin: auto;
}

.header {
  max-width: 1440px;
  position: relative;
  overflow: hidden;
  padding-top: 110px;
  padding-bottom: 50px;
  padding-left: 50px;
  background-color: #9960f6;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.header__soda {
  position: absolute;
  top: 40px;
  left: 50px;
  margin: 0;
  width: 87px;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffdb00;
}

.header__title {
  margin: 0 0 0 100px;
  width: 457px;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.header__img {
  width: 783px;
}

.header__cricle {
  position: absolute;
  top: 50px;
  right: 50px;
}

.header__b-cricle {
  position: absolute;
  top: -160px;
  right: -160px;
  background-color: #3530ff;
  opacity: 0.2;
  width: 565px;
  height: 565px;
  border-radius: 50%;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.header__button {
  margin: 171px 0 0 100px;
  background-color: #ffdb00;
  border: none;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  color: #1e3264;
  transition: 0.5s;
  border: 2px solid #ffdb00;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
  padding: 12px 30px;
}

.header__button:hover {
  border: 2px solid #1e3264;
  box-sizing: border-box;
  border-radius: 10px;
}

.header__pineapple {
  position: absolute;
  top: 604px;
  left: 758px;
}

.streak {
  position: relative;
  overflow: hidden;
  background: #cef564;
}

.streak__text {
  width: 2117px;
  margin: 0 0 0 -100px;
  padding: 20px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #016450;
}

.taste {
  padding: 120px 50px 0;
}

.taste__title {
  margin: 0 0 120px;
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #1e3264;
}

.taste__tastes {
  position: relative;
  padding: 90px 100px;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  background: #9960f6;
}

.taste__tastes_structure {
  background: #8556f8;
}

.taste__left {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.taste__subtitle {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 52px;
  line-height: 48px;
}

.taste__paragraph {
  margin: 0;
  max-width: 386px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  /* or 172% */
  letter-spacing: 0.3px;
}

.taste__img {
  width: 518px;
}

.taste__button {
  border: none;
  padding: 12px 21px;
  background: #ffdb00;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
  color: #1e3264;
  margin-top: auto;
  transition: 0.5s;
  border: 2px solid #ffdb00;
  cursor: pointer;
}

.taste__button:hover {
  background: #ffdb00;
  border: 2px solid #1e3264;
  box-sizing: border-box;
  border-radius: 10px;
}

.taste__Ellipse-921 {
  position: absolute;
  width: 185px;
  height: 185px;
  top: 123px;
  left: 622px;
  background: #e1fd2c;
  border: 3px solid #016450;
  box-sizing: border-box;
  border-radius: 50%;
}

.taste__Ellipse-920 {
  position: absolute;
  width: 138px;
  height: 138px;
  left: 721px;
  top: 321px;
  background: #ffdb00;
  border: 3px solid #1e3264;
  box-sizing: border-box;
  border-radius: 50%;
}

.taste__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.taste__item {
  width: 255px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 30px;
}

.taste__item:first-of-type {
  margin-top: 0;
}

.taste__item-text {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
}

.slogan {
  max-height: 580px;
  margin-bottom: 0px;
  position: relative;
  padding: 0 180px 0 150px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.slogan__title {
  align-self: center;
  width: 460px;
  font-weight: 500;
  font-size: 60px;
  line-height: 67px;
  letter-spacing: 0.3px;
  color: #1e3264;
}

.slogan__img {
  margin-top: 70px;
  z-index: -1;
}

.slogan__nonagon-block {
  position: absolute;
  top: 92px;
  left: 720px;
  width: 172px;
  height: 172px;
}

.slogan__nonagon {
  position: relative;
}

.slogan__nonagon-text {
  position: absolute;
  top: 50px;
  left: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #016450;
  transform: rotate(338deg);
}

.samples {
  background-color: #cef564;
  padding: 60px 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.samples__content {
  color: #1e3264;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: center;
}

.samples__title {
  margin: 0;
  font-weight: 500;
  font-size: 60px;
  line-height: 65px;
  letter-spacing: 0.3px;
}

.samples__paragraph {
  margin: 48px 0 0;
  width: 457px;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.3px;
}

.samples__container {
  width: 693px;
  background: #016450;
  padding: 24px 30px 30px;
}

.samples__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
}

.samples__input-container {
  margin: 50px 0 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.samples__input-block {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.samples__input-block:last-of-type {
  margin-left: 0;
}

.samples__input-block:first-of-type {
  margin-left: 0;
}

.samples__label {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
}

.samples__item {
  cursor: pointer;
  width: 310px;
  padding: 13px 0;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
}

.samples__item:focus {
  color: #212529;
  background-color: transparent;
  border: none;
  outline: 0;
  border-bottom: 2px solid #fff;
}

.samples__item_width {
  width: 633px;
}

.samples__button {
  border: none;
  padding: 12px 30px;
  background: #a27bff;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  color: #fff;
  border: 2px solid transparent;
  box-sizing: content-box;
  cursor: pointer;
  transition: 0.5s;
}

.samples__button:hover {
  border: 2px solid #e1fd2c;
  box-sizing: border-box;
  border-radius: 10px;
}

.samples__handlers {
  margin: 179px 0 0;
  padding: 0;
  border: none;
}

.footer {
  position: relative;
  padding: 100px 50px 100px 150px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff;
  background: #7a54f9;
}

.footer__b-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background: #9960f6;
  border-radius: 50%;
}

.footer__s-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  background: #5551ff;
  border-radius: 50%;
}

.footer__m-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 152px;
  background: #3530ff;
  border-radius: 50%;
}

.footer__m-circle-text {
  margin: 0;
  color: #ffa72b;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.footer__wrapper {
  width: 753px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer__title-nav {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 23px;
  line-height: 33px;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__item {
  margin: 0;
}

.footer__item-links {
  color: #fff;
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.3px;
}

.footer__item-links:hover {
  opacity: 0.7;
}

.footer__contacts {
  margin-left: 145px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer__title-contacts {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 23px;
  line-height: 33px;
}

.footer__links-contacts {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.3px;
}

.footer__links-contacts:hover {
  opacity: 0.7;
}

.footer__copy {
  position: absolute;
  bottom: 100px;
  left: 697px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.3px;
}
